.obalovaci {margin: 0px auto; position: relative; width: 1000px; }

#.hlavicka2 {position: absolute; width: 800px; top: 444px; left:50px; }

.div-hlavicka1 {
  position: absolute;
  top:20px;
  background-color: white;
  height: 100px;
  width: 900px;
  font-size: 15px;
  text-align: center;
}

.div-odstavec4 {
  position: absolute;
  top:470px;
  background-color: white;
  width: 900px;
  font-size: 14px;
  color: black;
    }

.div-paticka5 {
  position: absolute;
  top:660px;
  background-color: white;
  width: 800px;
  font-size: 18px;
  color: black;
    }
